*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  box-sizing: border-box;
}
.container {
  width: 60%;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

html {
  font-size: 10px; /* 1rem = 10px */
}

.hidden{
  display: none;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  h3{
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
  }

  i{
      cursor: pointer;
  }

  a:hover{
      transform: scale(1.05);
      text-shadow: 0 0 5px silver;
  }
}

.help{
  margin: 2rem;
  padding: 1.5rem;
  border: 1px solid silver;
  border-radius: 8px;
  background-color: snow;
  color: darkslategray;
  box-shadow: 1px 1px 8px silver;

  .top_nav{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2{
          font-size: 1.8rem;
          font-style: italic;
          text-transform: capitalize;
          font-weight: bold;
          letter-spacing: 2px;
          margin-bottom: 1rem;
      }
      i{
          transform: scale(1.5);
          cursor: pointer;
          color: darkslategray;

          &:hover{
              transform: scale(2);
              text-shadow: 0 0 5px silver;
          }
      }
  }
  h3{
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
  }
  p{
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 1rem;
      font-style: italic;
  }
}

.copy{
  text-align: center;
  margin: 6px 0;
  text-transform: uppercase;

  a{
      text-decoration: none;
      &:hover{
          text-shadow: 0 0 5px silver;
      }
  }

}